{% extends 'safety_valves/base.html' %}
{% load static %}
{% block main %}

<div class="container">
  
<div class="col-lg-10 col-lg-offset-1">
  <div class="panel-body">
  <b>Have you ever felt frightened or intimidated when out walking alone?</b> Have you ever wondered what you should do if approached by an attacker? Have you ever worried about becoming yet another home invasion statistic?

  The sad reality is that we live in an increasingly violent society in which the fear of crime is ever-present. <b>Personal safety has become an issue of importance for everyone, but especially for women.</b>
  </div>
  <hr>
  <div class="row">
  
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="text-center">
            <h4>Safety Tips</h4>
        </div>
      </div>
      <div class="panel-body">
       
        <ul>
          <li>
            <b>Awareness</b><br>
            Your first line of defence. Most people think of kicks to the groin and blocking punches when they hear the term “self-defence.” However, true self-defence begins long before any actual physical contact. <b>The first, and probably most important, component in self-defence is awareness</b>: awareness of yourself, your surroundings, and your potential attacker’s likely strategies.

          </li>
          <br>
          <li>
            <b>Use your sixth sense</b> <br>
            “Sixth sense.” “Gut instinct.” Whatever you call it, your intuition is a powerful subconscious insight into situations and people. All of us, especially women, have this gift, but very few of us pay attention to it.<b> Learn to trust this power and use it to your full advantage </b>. Avoid a person or a situation which does not “feel” safe–you’re probably right.
          </li>
          <br>
          <li>
          <b>Escape</b>
          <br>
          Always your best option. What if the unthinkable happens? You are suddenly confronted by a predator who demands that you go with him–be it in a car, or into an alley, or a building. It would seem prudent to obey, but <b>you must never leave the primary crime scene </b>. You are far more likely to be killed or seriously injured if you go with the predator than if you run away (even if he promises not to hurt you). Run away, yell for help, throw a rock through a store or car window–do whatever you can to attract attention. And if the criminal is after your purse or other material items, throw them one way while you run the other.
          </li>
          <br>

          <li>
          <b>Pepper spray </b><br>
          Pros and cons. Pepper spray, like other self-defence aids, can be a useful tool. However, it is important to understand that there can be significant drawbacks to its use. For example, did you know that it doesn’t work on everyone? Surprisingly, 15-20% of people will not be incapacitated even by a full-face spray. Also, if you’re carrying it in your purse, you will only waste time and alert the attacker to your intentions while you fumble for it.<b> Never depend on any self-defence tool or weapon to stop an attacker </b>.Trust your body and your wits, which you can always depend on in the event of an attack.
          </li>
        </ul>
      </div>


    </div>

  </div>
  </div>
</div>
</div>

{% endblock %}